[user]
	name = hassanjan1841
	email = hijan29714@gmail.com
	useConfigOnly = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
